// test
.purplee {
	font-size: 18px;
	color: rgb(136, 18, 128);
}

.s-text {
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0;
	padding-bottom: 5px
}

.purple{
	color: rgb(136, 18, 128);
}

html{
	height: 100%;
}
body{
	margin: 0;
	height: 100%;
}
.devtoolsInject {
	box-sizing: border-box;
	padding-top: 60px;
	width: 100%;
	height: 100%;
	font-family: Menlo, monospace, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.regualrDevtools{
	height: 100%;
	font-size: 0;
}

.devtoolsHeader{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 0 8px rgba(0,0,0,.15);
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	padding:10px 20px;
}

.devtoolsHeader-container {
	height: 100%;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.devtoolsHeader-img{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.devtoolsHeader-title{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	padding-left: 10px;
}

.devtoolsHeader-refresh{
	height: 70%;
	display: inline-block;
	vertical-align: middle;
}

.devtoolsHeader .right{
	text-align: right;
	line-height: 39px;
}

.devtoolsHeader .right:after{
	content: "",
	height: 100%;
	width: 0;
	visibility: hidden;
	display: inline-block;
	vertical-align: middle;
}

.elementView, .stateView{
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	font-size: 20px;
	color: #000;
	vertical-align: top;
	height: 100%;
	overflow-y: scroll;
}

.stateView{
	padding:20px;
}

// .stateView




.s-text .inspect:hover{
	color: #44a1ff;
}

.s-text .s-data, .s-text .inspect{
	display: inline-block;
}

.s-text .inspect-icon{
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: top;
}

.s-text .inspect-text{
	display: inline-block;
	font-size: 16px;
}

.stateView-state{
	font-size: 16px;
	word-wrap:break-word;
	padding-bottom:5px;
}
.stateView-data {
	font-size: 13px;
}


.elementView{
	padding:20px 0;
	border-right: 2px solid #e3e3e3;
}

.elementView .element{
	line-height: 18px;
	font-size: 0;
	padding:0 20px 3px;
	
}

.elementView .warnning{
	padding: 20px;
	font-size: 15px;
}

.elementView .tag{
	color:rgb(168, 148, 166)
}

.elementView .arrow{
	height: 12px;
	width: 12px;
}

.elementView .ele-item{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

.elementView  .ele-include{
	font-size: 13px;
	color: rgb(48, 57, 66);
}

.elementView .arrow-down,.stateView .arrow-down{
	transform: rotate(90deg);
}

.element-tag:hover{
	background-color:#e5e5e5;
}

.selected {
	background-color: #44a1ff;
}

.flush-animation{

}

.elementView .selected .ele-item{
	color: #fff;
}


.stateView-data-key .arrow {
	height: 10px;
	width: 10px;
}

.stateView-data-key {
	line-height: 13px;
	padding-bottom:6px;
}
.stateView-data-key .item{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
}

.stateView-data .key{
	color:#881391;
}

.stateView-data .primitive{
	color: #03c;
}

.stateView-data .string{
	color: #c41a16;
}

.stateView-data .others{
	color: #444;
}


//util


.gray{
	color: gray;
}

.blue{
	color: blue;
}

.bold{
	font-weight: bold;
}

.no-space{
	font-size: 0;
}

.elementView .hide, .stateView-data-key .hide{
	display: none;
}