html{
	height: 100%;
}
body{
	margin: 0;
	height: 100%;
}
.devtoolsInject {
	box-sizing: border-box;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	font-family: Menlo, monospace;
}

.regualrDevtools{
	height: 100%;
	font-size: 0;
}

.devtoolsHeader{
	width: 100%;
	height: 50px;
	font-size: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
}

.devtoolsHeader-img{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.devtoolsHeader-title{
	display: inline-block;
	vertical-align: middle;
}

.elementView, .stateView{
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	font-size: 20px;
	color: #000;
	vertical-align: top;
	height: 100%;
	padding:10px;
	overflow-y: scroll;
}

.elementView{
	border-right: 1px solid #ccc;
}

.stateView-title{
	font-size: 18px;
	padding-bottom: 10px;
}

.stateView-state{
	font-size: 16px;
	word-wrap:break-word;
	padding-bottom:5px;
}

.purple{
	color: rgb(136, 18, 128);
}

.gray{
	color: gray;
}

.blue{
	color: blue;
}

.bold{

font-weight: bold;
}

.elementView .element{
	height: 18px;
	line-height: 18px;
	font-size: 0;
	padding-bottom: 3px;
}

.elementView .tag{
	color:rgb(168, 148, 166)
}

.elementView .arrow{
	height: 15px;
	width: 15px;
	padding-right: 3px;
}

.elementView .ele-item{
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}

.elementView .arrow-down{
	transform: rotate(90deg);
}

.elementView .hide{
	display: none;
}