html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
.devtoolsInject {
	box-sizing: border-box;
	padding-top: 60px;
	width: 100%;
	height: 100%;
	font-family: Consolas, Lucida Console, Menlo, monospace, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.regualrDevtools {
	height: 100%;
	font-size: 0;
}

/* header start */

.devtoolsHeader{
	display: flex;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #e3e3e3;
	box-shadow: 0 0 8px rgba(0,0,0,.15);
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	padding:10px 20px;
}

.devtoolsHeader-container.logo {
	display: flex;
    align-items: center;
	flex: 1;
	height: 100%;
	padding-left: 50px;
	background-image: url(/assets/regular.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 20px;
	cursor: default;
}

.devtoolsHeader-container.refresh {
	height: 70%;
	align-self: center;
}

.devtoolsHeader-refresh{
	height: 100%;
	cursor: pointer;
}

/* header end */

/* elementView start */

.elementView {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	font-size: 20px;
	color: #000;
	vertical-align: top;
	height: 100%;
	padding:20px 0;
	border-right: 1px solid #e3e3e3;
	overflow-y: auto;
}

.elementView .element{
	line-height: 18px;
	font-size: 0;
	padding:0 20px 3px;
	white-space: nowrap;
	cursor: default;
}

.elementView .warnning{
	padding: 20px;
	font-size: 15px;
}

.elementView .tag{
	color:rgb(168, 148, 166)
}

.elementView .arrow{
	height: 12px;
	width: 12px;
}

.elementView .ele-item{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

.elementView  .ele-include{
	font-size: 13px;
	color: rgb(48, 57, 66);
}

.elementView .arrow-down {
	transform: rotate(90deg);
}

.elementView .loading-img {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	animation: loading-animation 2s infinite;
}

@keyframes loading-animation {
	from {
		 transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
	
}

.element-tag:hover {
	background-color:#e5e5e5;
}

.selected {
	background-color: #44a1ff;
}

.flush-animation {

}

.elementView .selected .ele-item {
	color: #fff;
}

.elementView .hide {
	display: none;
}

/* elementView end */

/* jsonTree start */

.json-tree {
	padding: 10px 20px;
}

.json-tree-data {
	font-size: 13px;
}

.json-tree-data-key .arrow {
	height: 10px;
	width: 10px;
	margin-left: -13px;
	margin-right: 3px;
}

.json-tree-data-key .arrow-down{
	transform: rotate(90deg);
}

.json-tree-data-key {
	line-height: 13px;
	padding-bottom:6px;
	white-space: nowrap;
	font-size: 0;
	cursor: default;
}
.json-tree-data-key .item{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
}

.json-tree-data .key{
	color:#881391;
}

.json-tree-data .primitive{
	color: #03c;
}

.json-tree-data .string{
	color: #c41a16;
}

.json-tree-data .others{
	color: #444;
}

.json-tree-data-key .hide{
	display: none;
}

/* jsonTree end */

/* sidebar start */

.sidebar {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.sidebar-content {
    height: -webkit-calc(100% - 31px);
    overflow-y: auto;
    font-size: 20px;
}

.inspect {
	display: inline-block;
	background-image: url(/assets/inspect.svg);
	background-position: 0 center;
	background-size: 16px auto;
	background-repeat: no-repeat;
	padding-left: 18px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
    margin: 10px;
}

.inspect:hover {
	color: #000;
}

/* sidebar end */

/* tabs start */

.tabs {
    font-family: Consolas, Lucida Console, monospace;
}
.tabs-header {
    overflow: hidden;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
}
.tabs-header-items {
    margin-left: 5px;
}
.tabs-header-item {
    box-sizing: border-box;
    float: left;
    margin-top: 6px;
    padding: 0 6px;
    height: 24px;
    border: 1px solid transparent;
    border-bottom: none;
    line-height: 15px;
    white-space: nowrap;
    cursor: default;
    display: flex;
    align-items: center;
    color: #5a5a5a;
}
.tabs-header-item.selected {
    border: 1px solid #ccc;
    border-bottom: none;
    color: #333;
    background-color: white;
    border-top-color: #ccc;
}
.tabs-header-item:hover, .tabs-header-item.selected:hover {
    color: #333;
    background-color: #e5e5e5;
}

/* tabs end */

/* sidebar-pane start */

.sidebar-pane-header {
    display: flex;
    align-items: center;
    background-color: #eee;
    height: 20px;
    padding: 3px 10px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow: hidden;
    color: #222;
    font-size: 14px;
}

.sidebar-pane-content {
	font-size: 13px;
}

/* sidebar-pane end */

/* util start */

.purplee {
	font-size: 18px;
	color: rgb(136, 18, 128);
}

.purple{
	color: rgb(136, 18, 128);
}

.gray{
	color: gray;
}

.blue{
	color: blue;
}

.bold{
	font-weight: bold;
}

.no-space{
	font-size: 0;
}

/* util end */