@font-face {
  font-family: "Roboto";
  src:url("../../lib/Roboto-Regular.ttf");
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.devtoolsInject {
  box-sizing: border-box;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Consolas, Lucida Console, Menlo, monospace, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.regualrDevtools {
  height: 100%;
  font-size: 0;
}

.roboto{
	font-family: "Roboto";
}

/* header start */

.devtoolsHeader {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 0 8px rgba(0, 0, 0, .15);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 20px;
}

.devtoolsHeader-container.logo {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 50px;
  background-image: url(/assets/regular.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  cursor: default;
}

.devtoolsHeader-container.refresh {
  height: 70%;
  align-self: center;
}

.devtoolsHeader-refresh {
  height: 100%;
  cursor: pointer;
}


/* header end */


/* main start */

.devtoolsMain {
  display: flex;
  height: 100%;
}


/* main end */


/* elementView start */

.elementView {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
  color: #000;
  vertical-align: top;
  height: 100%;
  border-right: 1px solid #e3e3e3;
}

.elementView .element {
  line-height: 18px;
  font-size: 0;
  padding: 0 20px 3px;
  white-space: nowrap;
  cursor: default;
}

.elementView .warnning {
  padding: 20px;
  font-size: 15px;
}

.elementView .tag {
  color: rgb(168, 148, 166)
}

.elementView .arrow {
  height: 12px;
  width: 12px;
}

.elementView .ele-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.elementView .ele-include {
  font-size: 13px;
  color: rgb(48, 57, 66);
}

.elementView .arrow-down {
  transform: rotate(90deg);
}

.elementView .loading-img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.element-tag:hover {
  background-color: #e5e5e5;
}

.selected {
  background-color: #44a1ff;
}

.flush-animation {}

.elementView .selected .ele-item {
  color: #fff;
}

.elementView .hide {
  display: none;
}

.elementTree {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: 20px 0;
  box-sizing: border-box;
}


/* elementView end */


/* searchView start */

.searchView {
  display: flex;
  width: 100%;
  height: 40px;
  border-top: 1px solid #e3e3e3;
  box-sizing: border-box;
}

.searchView-md{
  width:100%;
}

.searchView-md-input{
  padding: 0 0 0 10px;
}

.searchView-md-label{
  top:12px;
  padding-left: 10px;
  box-sizing: border-box;
}

.searchView-md-label:after{
  bottom:0;
}

.searchView-input {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 11px;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.searchView-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.searchView-text {
  font-size: 12px;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  margin-right: 5px;
}

.searchView-btn {
  display: block;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.searchView-btn:not(:last-child) {
  margin-right: 10px;
}


/* searchView end */


/* jsonTree start */

.json-tree {
  padding: 10px 20px;
}

.json-tree-data {
  font-size: 13px;
}

.json-tree-data-key .arrow {
  height: 10px;
  width: 10px;
  margin-left: -13px;
  margin-right: 3px;
}

.json-tree-data-key .arrow-down {
  transform: rotate(90deg);
}

.json-tree-data-key {
  position: relative;
  line-height: 13px;
  padding-bottom: 6px;
  white-space: nowrap;
  font-size: 0;
  cursor: default;
}

.json-tree-data-key .item {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

.json-tree-data .key {
  color: #881391;
  padding-right: 5px;
}

.json-tree-data .edit {
  padding: 3px;
  margin-top: -3px;
  position: absolute;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
}

.json-tree-data .primitive {
  color: #03c;
  padding-right: 15px;
}

.json-tree-data .string {
  color: #c41a16;
  padding-right: 15px;
}

.json-tree-data .function {
  color: rgb(13, 34, 170);
  font-style: italic;
}

.json-tree-data .dom {
  font-style: italic;
}

.json-tree-data .gray {
  color: rgb(155, 147, 160);
  padding-right: 15px;
}

.json-tree-data .others {
  color: #444;
  padding-right: 15px;
}

.json-tree-data-key .hide {
  display: none;
}


/* jsonTree end */


/* sidebar start */

.sidebar {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.sidebar__header {
  font-size: 15px;
  line-height: 30px;
  display: flex;
  padding: 0 10px;
}

.sidebar__header-left {
  flex-grow: 1;
}

.sidebar__header-right {
  font-size: 13px;
}

.sidebar__content {
  height: -webkit-calc(100% - 61px);
  overflow-y: auto;
  font-size: 20px;
}

.sidebar__inspect {
  display: inline-block;
  background-image: url(/assets/inspect.svg);
  background-position: 0 center;
  background-size: 16px auto;
  background-repeat: no-repeat;
  padding-left: 18px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin: 10px;
}

.sidebar__inspect:hover {
  color: #000;
}

/* sidebar end */


/* tabs start */

.tabs {
  font-family: Consolas, Lucida Console, monospace;
}

.tabs-header {
  position: relative;
  overflow: hidden;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
}

.tab-indicator{
  height: 1px;
  width: 60px;
  background-color: #3E82F7;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(0);
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.tabs-header-item {
  box-sizing: border-box;
  float: left;
  padding: 0 6px;
  width: 60px;
  height: 25px;
  border-bottom: none;
  line-height: 15px;
  white-space: nowrap;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5a5a5a;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.tabs-header-item:hover {
  color: #333;
  background-color: #e5e5e5;
}


/* tabs end */


/* sidebar-pane start */

.sidebar-pane-header {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 20px;
  padding: 3px 10px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  white-space: nowrap;
  overflow: hidden;
  color: #222;
  font-size: 12px;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.sidebar-pane-content {
  font-size: 13px;
}


/* sidebar-pane end */


/* util start */

.purplee {
  font-size: 18px;
  color: rgb(136, 18, 128);
}

.purple {
  color: rgb(136, 18, 128);
}

.gray {
  color: gray;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bold;
}

/* util end */
