@font-face {
  font-family: "Roboto";
  src:url("./fonts/Roboto-Regular.ttf");
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Consolas, Lucida Console, Menlo, monospace, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

#app {
  box-sizing: border-box;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}

.roboto {
  font-family: "Roboto";
}

/* main start */

.devtoolsMain {
  display: flex;
  height: 100%;
}

/* main end */

/* util start */

.purplee {
  font-size: 18px;
  color: rgb(136, 18, 128);
}

.purple {
  color: rgb(136, 18, 128);
}

.gray {
  color: gray;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bold;
}

/* util end */
